<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace的值一定是接口的全路径与接口绑定后,此文件相当于接口的实现类  -->
<mapper namespace="dao.UserMapper">
<select id="userLogin" parameterType="string" resultType="User">
    select * from user where userName=#{userName} and pwd=#{pwd};
</select>

<insert id="insertUser" parameterType="User" >
    insert into user(username,pwd,createusertime)
    values(#{userName},#{pwd},#{createusertime});
</insert>

<delete id="deleteUser" parameterType="int">
    delete from user where id=#{id}
</delete>

<select id="selectAllToufang" resultType="Toufang">
    select * from toufang;
</select>

<update id="updatePwd" parameterType="user">
    update user set pwd=#{pwd} where id=#{id}
</update>

<update id="updateToufang" parameterType="int">
    update toufang set alreadytoufangnum =#{alreadytoufangnum} where num=#{num}
</update>

<delete id="deleteToufang" parameterType="int">
    delete from toufang where num=#{num}
</delete>

<select id="selectAllLoginrecord" resultType="Loginrecord">
    select * from loginrecord;
</select>

<insert id="insertLoginRecord" parameterType="Loginrecord">
    insert into loginrecord(username,lastlogintime,lastloginip,createusertime)
    values(#{username},#{lastlogintime},#{lastloginip},#{createusertime});
</insert>

<delete id="deleteLoginrecord" parameterType="int">
    delete from loginrecord where id=#{id}
</delete>
</mapper>